body {
	font-family: 'Myriad Pro', 'Myriad', helvetica, arial, sans-serif;
}
#main{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
#title{
	height: 50px;
	background: #71BDFF;
}
#content{
	position: fixed;
	top: 50px;
	bottom: 0;
	left: 0;
	right: 0;
	background: #666B91;
}
#textt{
	position: fixed;
	top: 5px;
	margin: 0 0 0 10;
}
#scroll{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: overlay;
}
.bolder{
	font-weight: lighter;
	font-size: xx-large;
}
.white{
	color: #FFF;
}
.red{
	background:#CA4C4C;
}
.green{
	background:#2DA02D;
}
.popup{
width: 300px;
height: 300px;
position: absolute;
margin-top: -150px;
margin-left: -150px;
top:50%;
left:50%;
}
.dddtext{
	text-shadow: 0 1px 0 #CCC, 0 1px 0 #C9C9C9, 0 1px 0 #BBB, 0 1px 0 #B9B9B9, 0 2px 0 #AAA, 0 3px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}
.r1 img,.r2 img,.r3 img{
	margin-right: 5%;
	margin-left: 5%;
}
.r1{
	margin-top: 5%;
	position: relative;
}
.r2{
	margin-top: 5%;
	position: relative;
}
.r3{
	margin-top: 5%;
	position: relative;
}
.preview{
margin: 20 0 0 10;
}
.image{

}
.name{
color:#fff;
font-size:xx-large;
}
.description{
color:#fff;
font-size:large;
}
@media (max-width: 480px) {
	#textt{
		left:initial;
		top:10px;
		margin: initial;
	}
	.bolder{
		font-size: 20;
	}
}