/*
 * @package AJAX_Chat
 * @author Mirko Girgenti (Bomdia)
 */
@import url('global.css');
@import url('fonts.css');
@import url('print.css');
@import url('custom.css');

/* Buttons */
#content #bbCodeContainer input, #content #logoutButton, #content #submitButton, #loginForm #loginButton {
	background-color:#2E8BCC;
	color:#fff;
	border: 0;
}
#content select, #loginForm select, #loginForm input, #content textarea {
	background-color:#2E8BCC;
	color:#fff;
	border: 0px solid #2F4456;
}

/* Status Icon */
#content #statusIconContainer {
    top:0;
    right:0;
    height:45px;
    width:45px;
	background:#61BB36; 
}
#content #statusIconContainer.waiting {
	background:#00bffe;
}
#content #statusIconContainer.retrying {
	background:#d94141;
}

/* Other Theme Elements */
.ajax-chat {
	color:#000;
}
.ajax-chat h1 {
	color:#3B5485;
}
.ajax-chat a {
	color:#3B5485;
}
#loginContent #errorContainer {
	color:red;
}
#content #headline {
color: #fff;
padding-left: 20px;
top: 0;
left: 0;
right: 0;
background: #2E8BCC;
}
#content #copyright, #content #copyright a {
	color:white;
}
#content input, #content select, #content textarea {
	background-color:#ccc;
	color:#000;
}
#content #chatList, #content #onlineListContainer, #content #helpContainer, #content #settingsContainer {
	border-color:#0B198C;
	background-color:#FFF;
}
.ajax-chat .popup {
    background-color: #0072c6;
    right: 32px;
    position: absolute;
}
#content #colorCodesContainer a {
	border-color:black;
}
#content #optionsContainer input {
	background-color:transparent;
}
#content .rowEven, #helpList dl:nth-child(even), #settingsList dl:nth-child(even) {
min-height: 32px;
background-color: #E5E5E5;
-moz-box-shadow: 1px 1px #888;
-webkit-box-shadow: 1px 1px #888;
box-shadow: 1px 1px #888;
display: inline-block;
width: 95%;
margin: 2px;
position:relative;
	}
#content .rowOdd, #helpList dl:nth-child(odd), #settingsList dl:nth-child(odd) {
min-height: 32px;
background-color: #E5E5E5;
-moz-box-shadow: 1px 1px #888;
-webkit-box-shadow: 1px 1px #888;
box-shadow: 1px 1px #888;
display: inline-block;
width: 95%;
margin: 2px;
position:relative;
	}
#content #chatList .rowOdd.private {
	background-color:#F8D0D0;
}
#content #chatList .rowEven.private {
	background-color:#F8D9D0;
}
#content .guest {
	color:gray;
}
#content .user {
	color:#000;
}
#content .customUser {
	color:#0b198c;
}
#content .moderator {
	color:#00AA00;
}
#content .admin {
	color:red;
}
#content .chatBot {
	color:#3B5485;
}
#content #chatList .chatBotErrorMessage {
	color:red;
}
#content #chatList a {
	color:#3B5485;
}
#content #chatList .deleteSelected {
	border-color:red;
}
#content #onlineListContainer h3, #content #helpContainer h3, #content #settingsContainer h3 {
	background-color:#2E8BCC;
	color:#FFF;
    -moz-box-shadow: 1px 1px #888;
    -webkit-box-shadow: 1px 1px #888;
    box-shadow: 1px 1px #888;
    position: absolute;
    right: 3%;
    left: 0;
}
#content #copyright {
right: 60px;
}

#content #chatList, #content #onlineListContainer, #content #helpContainer, #content #settingsContainer, #content #colorCodesContainer a, #content textarea {
border-width: 0px;
}

#content #onlineListContainer #onlineList div {
padding: 0px;
}
#onlineListContainer ul {
list-style: none;
margin: 0px;
padding: 0px;
}
#content #settingsContainer #settingsList input{
max-width: 90%;
}

#content #chatList .delete{
background: url('minimal_images/x.png') no-repeat right;
display: block;
float: right;
width: 24px;
height: 24px;
margin-top: 0px;
padding-left: 0px;
background-position: -4px;
top: 3px;
position: relative;
}
@media (max-width: 700px) {
	#content #headline {
		left:5px;
		right:5px;
		padding-left:10px;
	}
    #content #statusIconContainer {
    top:0;
    right:0;
    height:25px;
    width:25px;
}
}
@media (max-width: 480px) {
#content #emoticonsContainer {
right: 52px;
}
#content #onlineListContainer, #content #helpContainer, #content #settingsContainer {
z-index:1;
}
}